.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.sanity
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/sanity/.pnpm-store
/sanity/node_modules
/sanity/.sanity
